language: ruby
sudo: required
os:
  - linux
  - osx
addons:
  apt:
    packages:
      - gdb
rvm:
  - 2.4
  - 2.5
  - 2.6
  - ruby-head
branches:
  only:
    - master
matrix:
  allow_failures:
    - rvm: ruby-head
env:
  - TERM=vt100 # prevent gdb output escape strings
before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter; chmod +x ./cc-test-reporter; ./cc-test-reporter before-build; fi

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; brew install gdb; rvm reinstall all --force; fi
  - gem update --system
  - gem install bundler
  - gem --version

after_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi
